USE [YurtOtomasyonu]
GO
/****** Object:  Table [dbo].[GelirGider]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GelirGider](
	[GelirGiderID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NULL,
	[Tutar] [decimal](10, 2) NULL,
	[Tarih] [date] NULL,
	[Aciklama] [nvarchar](200) NULL,
	[Tur] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GelirGiderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GirisCikis]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GirisCikis](
	[GirisCikisID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[IslemId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK__GirisCik__8AB4FBD4450610F0] PRIMARY KEY CLUSTERED 
(
	[GirisCikisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Islem]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Islem](
	[Id] [int] NOT NULL,
	[IslemTuru] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Islem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IzinBasvuru]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzinBasvuru](
	[IzinID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[OnayDurumu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IzinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda](
	[OdaID] [int] IDENTITY(1,1) NOT NULL,
	[OdaNumarasi] [nvarchar](10) NULL,
	[Kapasite] [int] NULL,
	[Kat] [int] NULL,
	[MevcutKisiSayisi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[Tutar] [decimal](10, 2) NULL,
	[OdemeTarihi] [date] NULL,
	[Ay] [int] NULL,
	[Yil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[TCno] [char](11) NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[DogumTarihi] [date] NULL,
	[OdaID] [int] NULL,
	[KayitTarihi] [date] NULL,
	[Durum] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 2.02.2026 18:24:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[TCno] [char](11) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Gorev] [nvarchar](50) NULL,
	[Yetki] [nvarchar](20) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GelirGider]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[GirisCikis]  WITH CHECK ADD  CONSTRAINT [FK__GirisCiki__Ogren__6383C8BA] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
ALTER TABLE [dbo].[GirisCikis] CHECK CONSTRAINT [FK__GirisCiki__Ogren__6383C8BA]
GO
ALTER TABLE [dbo].[GirisCikis]  WITH CHECK ADD  CONSTRAINT [FK_GirisCikis_Islem] FOREIGN KEY([IslemId])
REFERENCES [dbo].[Islem] ([Id])
GO
ALTER TABLE [dbo].[GirisCikis] CHECK CONSTRAINT [FK_GirisCikis_Islem]
GO
ALTER TABLE [dbo].[IzinBasvuru]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD FOREIGN KEY([OdaID])
REFERENCES [dbo].[Oda] ([OdaID])
GO
